.blogCardContainer {
    --blog-card-box-shadow: 0px 15px 80px -6px rgb(0 0 0 / 20%);
    --blog-card-title-font-size: var(--size-1-5);
    --blog-card-background-color: white;
}

.blogCardWrapper {
	width: var(--size-40);
	height: var(--size-60);
	display: flex;
	flex-direction: column;
	background-color: var(--blog-card-background-color);
    box-shadow: var(--blog-card-box-shadow);
	.imageWrapper {
		position: relative;
		width: var(--size-40);
		height: var(--size-25);
        flex-basis: 50%;
		.image {
			object-fit: cover;
		}
	}
	.textWrapper {
		height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-basis: 50%;
        padding: var(--size-1);
        text-align: center;
        h4 {
            font-size: var(--blog-card-title-font-size);
            font-family: var(--font-family-fancy);
        }
        span {
            color: var(--color-secondary);
            text-transform: uppercase;
            font-size: var(--size-0-75);
            font-family: var(--font-family-content);
            font-weight: 700;
            letter-spacing: 1px;
            margin-top: var(--size-1);
        }
        > p {
            margin-bottom: var(--size-1);
        }
        div > p {
            font-family: var(--font-family-content);
        }
	}
}
