.scheduleWrapper {
    .scheduleContainer {
        width: rfs(100rem);
        margin: auto;
        display: flex;
        background-color: var(--color-white);
        padding: var(--sizing-small) var(--sizing-medium);
        gap: var(--sizing-medium);
        .textContainer {
            background-color: var(--color-white);
            padding-top: var(--sizing-xxl);
            .textContent {
                display: flex;
                flex-direction: column;
                align-items: center;
                color: var(--color-white);
                background-color: var(--color-gray);
                font: 600 var(--font-size-small) var(--font-family-heading);
                border-top: var(--sizing-xxs) solid var(--color-secondary);
                padding: var(--sizing-large) var(--sizing-xl);
                letter-spacing: 2px;
                line-height: 2em;
            }
        }
    }
}

.footerWrapper {
	background-image: linear-gradient(45deg, #d6dcf9 0%, rgba(0, 0, 0, 0) 100%);
    border-radius: var(--sizing-xs) var(--sizing-xs) 0 0;
    overflow: hidden;
	.footerContainer {
		padding: var(--sizing-xxl) 0;
		background-image: linear-gradient(
			215deg,
			#c0dff9 0%,
			rgba(0, 0, 0, 0) 100%
		);
		display: flex;
		flex-direction: row;
		.col {
			flex-basis: 25%;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			h3 {
				font: var(--font-size-medium) var(--font-family-heading);
			}
			hr {
				width: var(--sizing-xxl);
				border-top: 1px solid var(--color-black);
				margin: var(--sizing-small) 0;
			}
			span {
				padding-bottom: var(--sizing-xxs);
			}
		}
		.contactCol {
			justify-content: space-between;
            gap: var(--sizing-xxs);
			.row {
				display: flex;
				width: 100%;
				justify-content: center;
			}
			.rowOne {
				flex-direction: row;
				gap: var(--sizing-xs);
				svg {
					width: var(--sizing-medium);
					height: var(--sizing-medium);
				}
			}
			.rowTwo {
				flex-direction: column;
				padding: 0 var(--sizing-medium);
                gap: var(--sizing-xxs);
				input[type="text"] {
					border: 1px solid var(--color-black);
					border: 1px solid;
					background-color: transparent;
                    &:focus-visible {
                        outline: none;
                    }
				}
				input[type="text"],
				input[type="submit"] {
					padding: var(--sizing-xxs) 0;
					text-align: center;
				}
                input[type="submit"] {
                    background-color: var(--color-white);
                    color: var(--color-black);
                    border: none;
                    border-radius: var(--sizing-small);
                    cursor: pointer;
                }
			}
		}
	}
}