.navWrapper {
	box-shadow: 0px 2px 50px 0px rgb(0 0 0 / 8%);
	position: fixed;
	width: 100%;
	background-color: var(--color-white);
	z-index: 999;
	.navContainer {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		gap: rfs(1rem);
		.menuItemLogo {
			flex-basis: rfs(50rem);
			padding: rfs(0.5rem) 0;
			.logoWrapper {
				position: relative;
				width: 100%;
				height: rfs(10rem);
				img {
					object-fit: contain;
				}
			}
		}
		.menuItem {
			font-family: var(--font-family-nav);
			font-size: var(--font-size-title);
			a.active {
				color: var(--color-gold);
			}
			svg {
				position: absolute;
				right: 0%;
				top: 50%;
				transform: translateY(-50%) rotate(0deg);
				transition: transform 0.5s ease;
			}
			&:nth-of-type(2),
			&:nth-of-type(3),
			&:nth-of-type(6) {
				padding-right: rfs(2rem);
			}
			&:not(:nth-child(5)) {
				position: relative;
				color: black;
				transition: var(--default-hover-transition);
				a {
					padding: 0 rfs(0.5rem);
				}
				&::after {
					content: "";
					position: absolute;
					border-bottom: 1px solid black;
					width: 100%;
					left: 0;
					top: 100%;
					transition: var(--default-hover-transition);
				}
				&:hover {
					> a {
						color: var(--color-gold);
					}

					&::after {
						top: 0;
					}
					svg {
						transform: translateY(-50%) rotate(90deg);
					}
				}
			}
		}
	}
}

.menuItem {
	.submenu {
		opacity: 0;
		pointer-events: none;
		position: absolute;
		z-index: 1;
		background-color: var(--color-white);
		transform: translateY(5rem);
		transition: var(--default-hover-transition);
		width: max-content;
		box-shadow: 1px 1px 5px rgb(0 0 0 / 20%);
		border-top: 3px solid var(--color-black);
		padding: rfs(1rem) 0;
		.subItem {
			padding: 0 rfs(1rem);
			> a {
				color: var(--color-black);
				transition: var(--default-hover-transition);
			}
			&:hover > a {
				color: var(--color-gold);
			}
		}
	}
	&:hover .submenu {
		display: block;
		opacity: 1;
		pointer-events: all;
		transform: translateY(0);
	}
}
