.sectionOne {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	max-width: var(--sizing-super-xxl);
	gap: var(--sizing-xl);
	margin-left: auto;
	margin-right: auto;
	.col {
		flex-basis: 50%;
	}
	.imageWrapper {
		position: relative;
		width: 100%;
		height: var(--sizing-super-large);
		.image {
			object-fit: cover;
			box-shadow: 15px 15px 0px 0px var(--color-accent);
		}
	}
	.textContainer {
		display: flex;
		flex-direction: column;
		text-align: center;
		.pageHeading {
			font: 600 var(--font-size-xl) var(--font-family-fancy);
		}
	}
}

.sectionTwo {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: var(--sizing-large);
	.colOne {
		width: rfs(30rem);
	}
	.colTwo {
		width: rfs(50rem);
	}
}

.sectionTwo .textContainer {
	display: flex;
	flex-direction: column;

	h3 {
		font: 400 var(--font-size-xl) var(--font-family-fancy);
		line-height: 1.25em;
	}
	hr {
		border-color: var(--color-accent);
		width: var(--sizing-xxl);
		border-top-width: 2px;
		margin: var(--sizing-medium) 0;
	}
	p {
		font: 500 var(--font-size-small) var(--font-family-heading);
		color: var(--color-medium-gray);
		line-height: 2em;
	}
}

.sectionTwo .imageWrapper {
	position: relative;
	width: auto;
	height: var(--sizing-super-large);
	.image {
		object-fit: cover;
		border-color: var(--color-white);
		border-style: solid;
		border-width: rfs(30px);
		box-shadow: var(--blog-image-box-shadow);
	}
}

.sectionThree .rowTwo,
.sectionThree .rowThree {
	gap: var(--sizing-xxl);
}

.sectionThree {
	.row {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.rowOne {
		flex-direction: column;
		h3 {
			font: 400 var(--font-size-xl) var(--font-family-fancy);
		}
		hr {
			border-color: var(--color-accent);
			width: var(--sizing-xxl);
			border-top-width: 2px;
			margin: var(--sizing-medium) 0;
		}
	}
	.rowTwo {
		margin-bottom: var(--sizing-large);
	}
}

.sectionFour {
	display: flex;
	flex-direction: row;
	background-color: var(--color-accent);
	.col {
		flex-basis: 50%;
	}
}

.sectionFour .textContainer {
	color: var(--color-white);
	padding: var(--sizing-large) var(--sizing-xxxl) var(--sizing-large)
		var(--sizing-large);
	h3 {
		font: 400 var(--font-size-xl) var(--font-family-fancy);
	}
	hr {
		border-color: var(--color-white);
		width: var(--sizing-xxl);
		border-top-width: 2px;
		margin: var(--sizing-medium) 0;
	}
	span {
		font: 500 var(--font-size-title) var(--font-family-heading);
		line-height: 2em;
	}
	p {
		font: 500 var(--font-size-normal) var(--font-family-content);
		line-height: 2em;
		margin-bottom: var(--sizing-medium);
	}
}

.sectionFive {
	border-right-width: var(--sizing-xxl);
    border-right-color: var(--color-accent);
	padding-top: var(--sizing-section-padding);
}

.sectionFive .rowOne {
	display: flex;
    align-items: center;
	flex-direction: column;
	h3 {
		font: 400 var(--font-size-xl) var(--font-family-fancy);
	}
	hr {
		border-color: var(--color-accent);
		width: var(--sizing-xxl);
		border-top-width: 2px;
		margin: var(--sizing-medium) 0;
	}
}

.sectionFive .rowTwo {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: var(--sizing-xxl);
}
