.sectionOne {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	max-width: var(--size-150);
	gap: var(--size-7-5);
	margin-left: auto;
	margin-right: auto;
	.col {
		flex-basis: 50%;
	}
	.imageWrapper {
		position: relative;
		width: 100%;
		height: var(--size-65);
		.image {
			object-fit: cover;
			box-shadow: 15px 15px 0px 0px var(--color-accent);
		}
	}
	.textContainer {
		display: flex;
		flex-direction: column;
		text-align: center;
		.pageHeading {
			font: 600 var(--size-5) var(--font-family-fancy);
		}
	}
}

.sectionTwo {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: var(--size-5);
	.colOne {
		width: var(--size-30);
	}
	.colTwo {
		width: var(--size-50);
	}
}

.sectionTwo .textContainer {
	display: flex;
	flex-direction: column;

	h3 {
		font: 400 var(--size-5) var(--font-family-fancy);
		line-height: 1.25em;
	}
	hr {
		border-color: var(--color-accent);
		width: var(--size-10);
		border-top-width: 2px;
		margin: var(--size-2-5) 0;
	}
	p {
		font: 500 var(--size-0-75) var(--font-family-heading);
		color: var(--color-medium-gray);
		line-height: 2em;
	}
}

.sectionTwo .imageWrapper {
	position: relative;
	width: auto;
	height: var(--size-65);
	.image {
		object-fit: cover;
		border-color: var(--color-white);
		border-style: solid;
		border-width: rfs(30px);
		box-shadow: var(--blog-image-box-shadow);
	}
}

.sectionThree .rowTwo,
.sectionThree .rowThree {
	gap: var(--size-10);
}

.sectionThree {
	.row {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.rowOne {
		flex-direction: column;
		h3 {
			font: 400 var(--size-5) var(--font-family-fancy);
		}
		hr {
			border-color: var(--color-accent);
			width: var(--size-10);
			border-top-width: 2px;
			margin: var(--size-2-5) 0;
		}
	}
	.rowTwo {
		margin-bottom: var(--size-5);
	}
}

.sectionFour {
	display: flex;
	flex-direction: row;
	background-color: var(--color-accent);
	.col {
		flex-basis: 50%;
	}
}

.sectionFour .textContainer {
	color: var(--color-white);
	padding: var(--size-5) var(--size-25) var(--size-5)
		var(--size-5);
	h3 {
		font: 400 var(--size-5) var(--font-family-fancy);
	}
	hr {
		border-color: var(--color-white);
		width: var(--size-10);
		border-top-width: 2px;
		margin: var(--size-2-5) 0;
	}
	span {
		font: 500 var(--size-2-5) var(--font-family-heading);
		line-height: 2em;
	}
	p {
		font: 500 var(--size-1-25) var(--font-family-content);
		line-height: 2em;
		margin-bottom: var(--size-2-5);
	}
}

.sectionFive {
	border-right-width: var(--size-10);
    border-right-color: var(--color-accent);
	padding-top: var(--size-15);
}

.sectionFive .rowOne {
	display: flex;
    align-items: center;
	flex-direction: column;
	h3 {
		font: 400 var(--size-5) var(--font-family-fancy);
	}
	hr {
		border-color: var(--color-accent);
		width: var(--size-10);
		border-top-width: 2px;
		margin: var(--size-2-5) 0;
	}
}

.sectionFive .rowTwo {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: var(--size-10);
}

.sectionSix {
	border-left-width: var(--size-10);
    border-left-color: var(--color-accent);
	padding: var(--size-15) 0;
	display: flex;
	flex-direction: column;
    align-items: center;
    justify-content: center;
	gap: var(--size-5);
	h3 {
		font: 400 var(--size-5) var(--font-family-fancy);
	}
}