.sectionOne {
	margin-top: var(--size-15);
	h1 {
		font-size: var(--size-3-5);
		font-weight: 500;
		line-height: 1.2;
		margin-bottom: var(--size-2);
		text-align: center;
		font-family: var(--font-family-fancy);
	}
}

.sectionTwo {
	display: flex;
	gap: var(--size-5);
	justify-content: center;
	align-items: center;
	max-width: var(--size-175);
	margin: auto;
	> .col .imageContainer {
		position: relative;
		width: var(--size-100);
		height: var(--size-50);
		border-radius: var(--default-border-radius);
		overflow: hidden;
		box-shadow: var(--blog-image-box-shadow);
		img {
			object-fit: cover;
		}
	}
	.col:nth-child(2) {
		display: flex;
		flex-direction: column;
		gap: var(--size-2);
		.row {
			display: flex;
			flex-direction: row;
			align-items: center;
			gap: var(--size-5);
			.iconContainer {
				flex-basis: var(--size-10);
				display: flex;
				justify-content: center;
			}
			.contentContainer {
				flex-basis: var(--size-50);
			}
		}
		.authorContainer {
			.contentContainer {
				display: flex;
				flex-direction: column;
				span {
					font-weight: 600;
					margin-bottom: var(--size-0-5);
				}
				p {
					font-size: var(--size-0-75);
				}
			}
			.iconContainer {
				.avatarContainer {
					position: relative;
					width: var(--size-7-5);
					height: var(--size-7-5);
					background-color: var(--color-light-gray);
					border-radius: var(--avatar-border-radius);
					overflow: hidden;
					img {
						object-fit: cover;
					}
				}
			}
		}
	}
}

.sectionThree {
	padding-top: var(--size-5);
	.contentContainer {
		max-width: var(--size-160);
		margin: auto;
		h3 {
			font-family: var(--font-family-heading);
			font-weight: 600;
			font-size: var(--size-1-5);
			color: var(--color-gray);
			line-height: var(--size-1-5);
			padding-bottom: var(--size-0-5);
			&:not(:first-child) {
				padding-top: var(--size-2-5);
			}
		}
		p {
			font-family: var(--font-family-content);
			color: var(--color-medium-gray);
			line-height: var(--size-2-5);
			padding-bottom: var(--size-1);
			font-size: var(--size-1);
		}
        ul {
            padding-bottom: var(--size-1);
            padding-left: var(--size-1);
            li {
                list-style-type: disc;
                list-style-position: inside;
            }
        }
	}
}
