.sectionOne {
	padding-top: var(--size-10);
	iframe {
		width: 100%;
		height: var(--size-40);
	}
}

.sectionTwo {
	display: flex;
	justify-content: center;
	gap: var(--size-10);
	.col {
		width: var(--size-50);
	}
	.col:nth-of-type(1) {
		box-shadow: var(--blog-image-box-shadow);
		margin-top: rfs(-15rem);
	}
	.col:nth-of-type(2) {
		display: flex;
		flex-direction: column;
		gap: var(--size-5);
		padding-top: var(--size-7-5);
		.row {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			gap: var(--size-10);
			svg {
				width: var(--size-2-5);
				height: var(--size-2-5);
			}
			.iconWrapper {
				width: var(--size-2-5);
			}
			.textContainer {
				text-align: center;
				width: var(--size-25);
			}
		}
	}
}

.sectionThree {
	.col:nth-of-type(2) {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.iconWrapper svg {
		width: var(--size-10);
		height: var(--size-10);
	}
}

.sectionFour,
.sectionThree {
	display: flex;
	justify-content: center;
	padding: var(--size-10) 0;
	border-left: var(--size-1) solid var(--color-accent);
	border-right: var(--size-1) solid var(--color-accent);
    gap: var(--size-10);
	.col {
		width: var(--size-50);
        svg {
            filter: invert(6%) sepia(91%) saturate(7495%) hue-rotate(2deg) brightness(77%) contrast(105%);
        }
	}
	.textContainer {
		span {
			color: var(--color-accent);
			font: 700 var(--size-0-75) var(--font-family-heading);
			letter-spacing: 1px;
		}
		h3 {
			font: 600 var(--size-3-5) var(--font-family-fancy);
		}
		hr {
			border-top: 1px solid var(--color-secondary);
			width: var(--size-10);
			margin: var(--size-2-5) 0;
		}
		p {
			margin: var(--size-2-5) 0;
		}
	}
}

.sectionFour .col:nth-of-type(1) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--size-2-5);
    .row {
        display: flex;
        justify-content: center;
        width: 100%;
        gap: var(--size-2-5);
        svg {
            width: var(--size-10);
            height: var(--size-10);
        }
    }
}