.sectionOne {
	padding-top: var(--sizing-xxl);
	iframe {
		width: 100%;
		height: var(--sizing-xxxxl);
	}
}

.sectionTwo {
	display: flex;
	justify-content: center;
	gap: var(--sizing-xxl);
	.col {
		width: rfs(50rem);
	}
	.col:nth-of-type(1) {
		box-shadow: var(--blog-image-box-shadow);
		margin-top: rfs(-15rem);
	}
	.col:nth-of-type(2) {
		display: flex;
		flex-direction: column;
		gap: var(--sizing-large);
		padding-top: var(--sizing-xl);
		.row {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			gap: var(--sizing-xxl);
			svg {
				width: var(--sizing-medium);
				height: var(--sizing-medium);
			}
			.iconWrapper {
				width: var(--sizing-medium);
			}
			.textContainer {
				text-align: center;
				width: var(--sizing-xxxl);
			}
		}
	}
}

.sectionThree {
	.col:nth-of-type(2) {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.iconWrapper svg {
		width: var(--sizing-xxl);
		height: var(--sizing-xxl);
	}
}

.sectionFour,
.sectionThree {
	display: flex;
	justify-content: center;
	padding: var(--sizing-xxl) 0;
	border-left: var(--sizing-xs) solid var(--color-accent);
	border-right: var(--sizing-xs) solid var(--color-accent);
    gap: var(--sizing-xxl);
	.col {
		width: rfs(50rem);
        svg {
            filter: invert(6%) sepia(91%) saturate(7495%) hue-rotate(2deg) brightness(77%) contrast(105%);
        }
	}
	.textContainer {
		span {
			color: var(--color-accent);
			font: 700 var(--font-size-small) var(--font-family-heading);
			letter-spacing: 1px;
		}
		h3 {
			font: 600 var(--font-size-large) var(--font-family-fancy);
		}
		hr {
			border-top: 1px solid var(--color-secondary);
			width: var(--sizing-xxl);
			margin: var(--sizing-medium) 0;
		}
		p {
			margin: var(--sizing-medium) 0;
		}
	}
}

.sectionFour .col:nth-of-type(1) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--sizing-medium);
    .row {
        display: flex;
        justify-content: center;
        width: 100%;
        gap: var(--sizing-medium);
        svg {
            width: var(--sizing-xxl);
            height: var(--sizing-xxl);
        }
    }
}