.sectionOne {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	gap: var(--size-10);
    .buttonWrapper {
        text-align: center;
    }
	.col {
		width: var(--size-100);
		.imageWrapper {
			position: relative;
			width: 100%;
			height: var(--size-40);
			img {
				object-fit: contain;
			}
		}
		.textContainer {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			.subTitle {
				color: var(--color-accent);
				font: 700 var(--size-1-25) var(--font-family-heading);
				letter-spacing: 1px;
			}
			.title {
				font: 600 var(--size-5) var(--font-family-fancy);
			}
			hr {
				border-top: 3px solid var(--color-black);
				width: var(--size-10);
				margin: var(--size-1-5) 0;
			}
		}
	}
}

.sectionOne,
.sectionTwo {
	.bodyHeading {
		font: var(--size-1-5) var(--font-family-heading);
	}
	.bodyContent:nth-of-type(1),
	.bodyContent:nth-of-type(3) {
		margin-bottom: var(--size-0-75);
	}
	.bodyContent {
		font: var(--size-1-25) var(--font-family-body);
	}
	.divider {
		border-top: 1px solid var(--color-secondary);
		width: var(--size-10);
		margin: var(--size-0-75) 0;
	}
}

.sectionTwo {
	margin: var(--size-1-5) var(--size-10);
	.bodyContent:nth-of-type(2),
	.bodyContent:nth-of-type(4) {
		margin-bottom: var(--size-2-5);
	}
}
