.sectionOne {
	background-color: var(--bg-overlay-dark);
	background-blend-mode: multiply;
}

.sectionOne .row {
	display: flex;
	flex-direction: column;
	padding: rfs(20rem) 0 rfs(20rem) rfs(50rem);
}

.sectionOne .textBlurb {
	width: rfs(35rem);
	font-weight: 700;
	display: flex;
	flex-direction: column;
	gap: rfs(1rem);
	h1 {
		color: var(--color-secondary);
		font-family: var(--font-family-heading);
		text-transform: uppercase;
		font-size: var(--font-size-medium);
	}
	span {
		color: var(--color-white);
		font-family: var(--font-family-fancy);
		text-transform: uppercase;
		font-size: var(--font-size-title);
		word-wrap: break-word;
	}
	p {
		color: var(--color-white);
		font-family: var(--font-family-content);
		font-size: var(--font-size-body);
		line-height: rfs(2rem);
		letter-spacing: 1px;
	}
}

.sectionTwo,
.sectionThree {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-top: var(--sizing-large);
	max-width: var(--sizing-super-xxl);
	margin: auto;
	h2 {
		font: 400 var(--font-size-large) var(--font-family-fancy);
		line-height: 1.25em;
		text-align: center;
	}
	hr {
		border-color: var(--color-accent);
		width: var(--sizing-xxxxl);
		border-top-width: 2px;
		margin: var(--sizing-xs) auto var(--sizing-medium) auto;
	}
}

.sectionTwo .colOne {
	flex-basis: var(--sizing-xxl);
	padding-top: var(--sizing-medium);
}

.sectionTwo .colTwo {
	flex-basis: var(--sizing-xxxl);
	p {
		font: 500 var(--font-size-body) var(--font-family-heading);
		color: var(--color-medium-gray);
		line-height: 2em;
		&:not(:last-of-type) {
			margin-bottom: var(--sizing-small);
		}
	}
}

.sectionThree .rowOne {
	span {
		text-align: center;
		width: 100%;
		display: block;
        color: var(--color-secondary);
        text-transform: uppercase;
        font: 700 var(--font-size-body) var(--font-family-heading);
	}
}
