.sectionOne {
	background-image: linear-gradient(115deg, #ffffff 35%, #2b2b2b 35%);
	background-size: 400% 400%;
	animation: gradient 2s ease forwards;
	display: flex;
	flex-direction: row;
	justify-content: center;
    align-items: center;
	gap: var(--size-5);
	margin-top: var(--size-10);
	.col {
		flex-basis: var(--size-100);
		.imageWrapper {
			position: relative;
			width: 100%;
			height: var(--size-75);
			img {
				object-fit: cover;
			}
		}
		.textWrapper {
			.textHeading {                
				display: flex;
                align-items: center;
                justify-content: center;
                font-family: var(--font-family-fancy);
                background-color: var(--color-white);
                padding: var(--size-1) 0;
				h1 {
                    font-size: var(--size-5);
					&::after {
						content: "|";
                        margin: 0 var(--size-1);
					}
				}
				span {
                    font-size: var(--size-2-5);
				}
			}
            .textMeta {
                animation: textColor 2s ease forwards;
                font-size: var(--size-1-5);
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                width: var(--size-75);
                margin: var(--size-1) auto;
                h4 {
                    flex-basis: var(--size-40);
                    text-align: center;
                }
            }
            .textContent {
                animation: textColor 2s ease forwards;
                font-size: var(--size-1-25);
                text-align: center;
                line-height: var(--size-2);
            }
		}
	}
}

@keyframes gradient {
	0% {
		background-position: 0% 0%;
	}
	100% {
		background-position: 30% 50%;
	}
}

@keyframes textColor {
    0% {
        color: var(--color-black);
    }
    100% {
        color: var(--color-white);
    }
}