.sectionOne {
	background-image: linear-gradient(115deg, #ffffff 35%, #2b2b2b 35%);
	background-size: 400% 400%;
	animation: gradient 2s ease forwards;
	display: flex;
	flex-direction: row;
	justify-content: center;
    align-items: center;
	gap: rfs(5rem);
	margin-top: var(--sizing-xxl);
	.col {
		flex-basis: rfs(100rem);
		.imageWrapper {
			position: relative;
			width: 100%;
			height: rfs(75rem);
			img {
				object-fit: cover;
			}
		}
		.textWrapper {
			.textHeading {                
				display: flex;
                align-items: center;
                justify-content: center;
                font-family: var(--font-family-fancy);
                background-color: var(--color-white);
                padding: rfs(1rem) 0;
				h1 {
                    font-size: var(--font-size-xl);
					&::after {
						content: "|";
                        margin: 0 rfs(1rem);
					}
				}
				span {
                    font-size: var(--font-size-title);
				}
			}
            .textMeta {
                animation: textColor 2s ease forwards;
                font-size: var(--font-size-medium);
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                width: rfs(75rem);
                margin: rfs(1rem) auto;
                h4 {
                    flex-basis: rfs(40rem);
                    text-align: center;
                }
            }
            .textContent {
                animation: textColor 2s ease forwards;
                font-size: rfs(1.15rem);
                text-align: center;
                line-height: rfs(2rem);
            }
		}
	}
}

@keyframes gradient {
	0% {
		background-position: 0% 0%;
	}
	100% {
		background-position: 30% 50%;
	}
}

@keyframes textColor {
    0% {
        color: var(--color-black);
    }
    100% {
        color: var(--color-white);
    }
}