@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--color-primary: #f00;
	--color-secondary: #edbb5f;
	--color-gold: #857360;
	--color-white: #fff;
	--color-gray: #333;
	--color-medium-gray: #666;
	--color-light-gray: #ddd;
	--color-black: #000;
	--color-accent: #800000;
	--color-low-opacity-black: rgb(0 0 0 / 5%);
	--bg-overlay-dark: rgba(11, 10, 7, 0.7);
	--font-family-fancy: "Cormorant Garamond", serif;
	--font-family-heading: "Poppins", sans-serif;
	--font-family-content: "Lato", sans-serif;
	--font-family-btn: 'Saira Extra Condensed', sans-serif;
	--font-size-xl: rfs(5rem);
	--font-size-large: rfs(3.5rem);
	--font-size-title: rfs(2.5rem);
	--font-size-medium: rfs(1.5rem);
	--font-size-normal: rfs(1.25rem);
	--font-size-body: rfs(1rem);
	--font-size-small: rfs(0.75rem);
	--default-border-radius: 10px;
	--avatar-border-radius: 50%;
	--blog-image-box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
		rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
	--default-hover-transition: all 0.3s ease-in-out;
	--sizing-xxxxl: rfs(40rem);
	--sizing-xxxl: rfs(25rem);
	--sizing-xxl: rfs(10rem);
	--sizing-xl: rfs(7.5rem);
	--sizing-large: rfs(5rem);
	--sizing-medium: rfs(2.5rem);
	--sizing-small: rfs(1.5rem);
	--sizing-xs: rfs(1rem);
	--sizing-xxs: rfs(0.75rem);
}

body #section {
	margin-top: rfs(10rem);
}
