.sectionOne {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: var(--size-3);
	.col {
		flex-basis: var(--size-75);
	}
	.colText {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: var(--size-1-5);
		.textContainer {
			text-align: center;
		}
		.btnContainer {
			display: flex;
			justify-content: center;
			align-items: center;
			gap: var(--size-2);
		}
	}
	.colImage {
		.imageWrapper {
			width: 100%;
			height: var(--size-50);
			position: relative;
			img {
				object-fit: cover;
				box-shadow: 15px 15px 0px 0px var(--color-accent);
			}
		}
	}
}

.sectionTwo {
	padding-top: var(--size-15);
	.modalContainer {
		background-color: var(--color-white);
		box-shadow: var(--blog-image-box-shadow);
		width: var(--size-100);
		margin: auto;
		.textContainer {
			display: flex;
			flex-direction: column;
			align-items: center;
			padding: var(--size-10) 0;
			gap: var(--size-2);
			.btnContainer {
				display: inline;
			}
		}
	}
}

.subTitle {
	font: 700 var(--size-1-5) var(--font-family-heading);
	color: var(--color-accent);
	letter-spacing: 2px;
}

.title {
	font: var(--size-5) "Cormorant Garamond";
	margin-bottom: var(--size-2);
}

.sectionLine {
	margin: var(--size-5) auto;
	border-color: black;
	width: var(--size-25);
}

.sectionThree {
	.row {
		display: flex;
		justify-content: center;
		gap: var(--size-2-5);
	}
}

.sectionFour,
.sectionFive {
	padding-top: var(--size-5);
	border-left: var(--size-1) solid var(--color-accent);
	border-right: var(--size-1) solid var(--color-accent);
	.rowOne h2 {
		text-align: center;
		font: var(--size-3-5) var(--font-family-fancy);
	}
	hr {
		border-color: black;
		width: var(--size-25);
		margin: var(--size-2-5) auto;
	}
	.rowTwo {
		display: flex;
		justify-content: center;
		gap: var(--size-1-5);
	}
}

